.App {
  text-align: center;
  .search-form{
    margin: 20px;
    padding: 20px;
    .search-bar{
      width: 40vw;
      border: 0;
      height: 20px;
      &:focus{
        border: none;
        outline: none;
      }
    }
  }

  .recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .dish{
      margin: 20px;
      min-width:30vw;
      min-height: 40vh;
      overflow:hidden;
      .card{
        position: relative;
        transition: transform 3s;
        transform-style: preserve-3d;
        background-color:white;
        border-radius:20px;
        height: 100%;
        width: 100%;
      }
      &:hover{
        .card{
          transform:rotateY(180deg);
        }
      }
      .card-front{
        img{
          max-width: 100px;
          max-height: 100px;
          border-radius: 50%;
        }
      }
      .card-back{
          transform: rotateY(.5turn);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          ul{
            list-style: none;
          }
      }
      // stuff share between the front and back of cards
      .card-back, .card-front{
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        backface-visibility: hidden;
        
      }
    }
  }

  .Header{
    font-size: 40px;
  }

  .search-button{
    border: 0;
    height: 23px;
    color:rgb(241, 241, 241);
    background-color: rgb(212, 93, 119);
    outline: none;
    &:hover{
      background-color: rgb(228, 109, 134);
    }
    &:active{
      outline: none;
      height: 22px;
      width: auto;
    }
  }
}

